@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Reset e fonte padrão */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Estilização do corpo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./img.1.png')
}

/*Estilo do container (caixa do formulário)*/
.home {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.082);
    border-radius: 10px;
    color: #ffffff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
}
   
/*Título dentro do container*/
.home h1 {
    font-size: 36px;
    text-align: center;
}

/*Estilo do container (caixa do formulário)*/
.login {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.082);
    border-radius: 10px;
    color: #ffffff;
    padding: 7px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
    
}
   
/*Título dentro do container*/
.login h1 {
    font-size: 36px;
    text-align: center;
}



/*Bloco de input (com ícone)*/
.input-box {
    width: px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.082);
    border-radius: 10px;
    color: #ffffff;
    padding: 10px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
}
   

/*Estilo do campo de input*/
.input-box input {
    width: 80%;
    height: 90%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.329);
    border-radius: 40px;
    outline: none;
    font-size:  16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
    

}

/*Define a cor do texto placeholder como branco semi-transparente.*/
.input-box input::placeholder {
    color: #ffffff8e ;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(-50%);
    font-size: 20px;
}

.remember-forgot { 
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px;
}

.remember-forgot label input {
    accent-color: #ffffff;
    margin-right: 5px;
}

.remember-forgot a {
    text-decoration: none;
    color: #fff;
}

.remember-forgot a:hover { 
    text-decoration: underline;
}


/*Botão de login*/
.login {
    width: 80%;
    height: 50px;
    background-color: #ffffff00;
    border: none;
    border-radius:  40px;
    cursor: pointer;
    font-size: 16px;
    color: #f0e8e8;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);

}

.login:hover {
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    color: #ffffffc0;
    transition: 0.5s;
    
}

/*Link para cadastro (abaixo do botão)*/
.register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;

}

.register-link a {
    text-decoration: none;
    color: #faf8f8;
    font-weight: 500;

}

.register-link a:hover {
    text-decoration: underline;
}

.register {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius:  40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}


.success-box {
    font-size: 18px;
    text-align: center;
    margin: 2px 0 15px;
}
.success-box a {
    width: 100%;
    height: 50px;
    border: none;
    border-radius:  40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}


.usuario { text-align: right; color: #007bff; }
.ia { text-align: left; color: #333; }



